.login-container {
  padding-inline: 4rem;
}

.login-input {
  border-radius: 20px;
  padding: 8px 1rem;
  border: solid 1px #dddddd;
}

.login-input:focus {
  border: none;
}

.login-page-button {
  border-radius: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: transparent;
  border: solid 1px #1d1d1f;
  color: #1d1d1f;
}
.login-page-button:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.my-custom-google-button {
  width: 100%;
  border-radius: 100px;
}
